.body-margin {
    margin: 0;
}


/* Nav Start */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 180px;
    height: 60px;
}

.nav-logo img {

    width: 60px;
    height: 30px;
}

.nav-logo,
.nav-items {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-items a {
    text-decoration: none;
    color: #3C354F;
    font-family: sans-serif;
    font-size: 18px;
}

.nav-title {

    font-family: sans-serif;
    font-size: 2rem;
    color: #0B0223;
}

.gamer-span {
    color: #FF42A5;
}

.nav-items {
    align-items: center;
    justify-content: flex-end;
}

.follow-us {
    background-color: #0B02231A;
    padding: 10px;
    border-radius: 5px;


}

/* Nav End */



/* Banner section start */


.banner,
.different-games {
    background-color: #f64bc01a;
}

.banner-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 180px;

}

.banner-items>div {
    justify-content: space-between;
}


.banner-img {
    justify-content: flex-end;
    width: 60%
}

.bannner-play {
    color: #0B0223;
    text-align: center;
    font-family: sans-serif;
    /* font-family: Work Sans; */
    font-size: 2.1rem;
    font-style: normal;
    /* font-weight: 600; */
}

.banner-goat-text {
    /* color: rgba(249, 72, 178, 1), rgba(135, 88, 241, 1); */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    /* font-family: sans-serif; */
    font-family: Work Sans;
    font-size: 4.5rem;
    /* font-size: 55px; */
    font-style: normal;
    margin-top: -30px;
    padding-top: 0;
    /* font-weight: 800; */
}

.banner-list-items {
    font-size: 1.1rem;
    margin-left: 10px;
    margin-top: -45px;

}


/* Banner section end */


/* Banner Gamer Start*/

.banner-gamer-image {
    width: 70%;
}

.banner-gamer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 180px;
}

.banner-gamer-description {
    text-align: right;
}

.banner-gamer-title,
.funny-videos-span {
    font-size: 2.5rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gamer-description {
    margin-top: -20px;
    font-size: 1rem;
}

.our-purpose {
    font-size: 1rem;
}

.btn {
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 1.1rem;
    background-color: #fb027f;
    border: 0;
    border-radius: 30px;
    padding: 15px;
}

#btn-tarquoise {
    background-color: #40e0d0;
}

/* Banner Gamer End */


/* Online Games section Start */
.online-games {
    margin-top: 60px;
    text-align: center;
}

.online-games-title {
    font-size: 2.5rem;
}

.online-games-description {
    font-size: 1.05 rem;
    margin-top: -20px;
}


.funny-video-section {
    padding: 0 180px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: space-between;
}

.funny-videos>img {
    width: 100%;
}

/* Online Games section End */



/* Play Instant Section Start */




.instant {
    padding-left: 100px;
    padding-right: 100px;
}


.instant-play {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.instant-play-and-downloads {
    padding: 0 180px;
}


.image-container-1 {
    height: 50%;
    width: 50%;
    justify-content: space-between;
}

.image-container-2 {
    height: 50%;
    width: 50%;
}

.second-image-1 {
    margin-top: -300px;
    margin-left: -100px;
}


.second-image-2 {
    margin-top: -300px;
    margin-left: 450px;
}

.instant-play-text {
    text-align: end;
}

.instant-play-text-2 {
    text-align: start;
}

.instant-play-title {
    font-size: 30px;
    font-family: sans-serif;
}

.instant-play-span {
    font-size: 2 rem;
    background: linear-gradient(180deg, #F948B2 0%, #612fd5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}






/* Play Instant Section End */


/* Different Games Section Start*/

.games-icon {
    /* display: grid;
    grid-template-columns: repeat(5, 1fr); */

    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    padding: 80px 100px;
    gap: 20px;
    margin-top: 50px;
}

.icon-and-name {
    display: flex;
    gap: 16px;

}

.icon-and-name>p {
    font-size: 1 rem;
    font-family: sans-serif;
}

.icon-and-name>img {
    width: 40px;
    height: 40px;
}

/* Different Games Section End*/


/* Footer start */

.footer {
    background-color: #070116;
}

.footer-top {
    display: flex;
    align-items: center;
    padding-top: 60px;
    gap: 10px;
    justify-content: center;
    font-size: 2 rem;
    font-family: sans-serif;
    color: #FFFFFF;
}

.footer-logo {
    width: 60px;
    height: 30px;

}

.footer-link-list>p {

    font-size: 15px;
    font-family: sans-serif;

}

.footer-link-list {
    justify-content: center;
    display: flex;
    text-align: center;
    gap: 40px;
    color: #FFFFFF;

}


.footer-icon,
.footer-policy,
.gamer-copyright {
    justify-content: center;
    display: flex;
    gap: 20px;
}

.footer-policy,
.gamer-copyright {
    color: #7a7a7a;
}


.gamer-copyright {
    padding-bottom: 80px;
}

/* Footer End */


/* Hover Section */

#for-hover:hover{
    border: 3px solid red;
    border-radius: 10px;
}


.icon-and-name:hover{
    border: 3px solid red;
    color: red;
    border-radius: 15px;
    background-color: aliceblue;
}





@media screen and (max-width: 576px) {

    /* nav section */
    .nav-container,
    .nav-items {
        flex-direction: column;
        padding: 0;
    }


    .follow-us {
        padding: 10px;

    }


    /* Banner Saction  */

    .banner-img {
        width: 330px;
        padding-left: 15px;
        padding-right: 15px;
        justify-content: center;
    }

    .banner-items {
        flex-direction: column-reverse;
        align-items: center;

    }

    .body-margin>nav {
        margin-bottom: 200px;
    }

    .bannner-play {
        margin-top: 100px;
    }


    /* Banner Gamer Start*/


    .banner-gamer {
        flex-direction: column;
        align-items: center;
        padding: 0 40px;
    }

    .banner-gamer-image {
        margin-top: 50px;
        width: 370px;
    }

    .banner-gamer-description {
        text-align: center;
    }


    /* Online Game Start */

    .online-games {
        padding: 0 40px;
    }

    .funny-video-section {
        padding: 0 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-content: center;
    }

    /* Online Game End */



    /* Instant Play Start */
    .instant-play {
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }

    .instant {
        padding-left: 10px;
        padding-right: 10px;
    }

    .instant-play-text, .instant-play-text-2 {
        text-align: center;
    }

    .image-container-2, .image-container-2 {
        height: 50px;
        width: 30px;
    }

    .second-image-2, .second-image-1 {
        height: 30%;
        width: 30%;
        margin-top: -300px;
        margin-left: 400px;
    }

    .image-container-2, .image-container-1{
        display: none;
    }

    .instant-play-and-downloads {
        padding: 0 10px;
    }

    /* Instant Play End */

    /* Different Games Section Start*/

    .games-icon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        padding: 80px 20px;
        gap: 5px;
    }

    .icon-and-name {
        gap: 5px;
        align-items: center;
    }

    .icon-and-name>img {
        width: 30px;
        height: 30px;
    }

    /* Different Games Section End*/



    /* Footer start */

    .footer-link-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 5px;
        padding: 0 50px 20px;
        text-align: center;
    }

    .footer-icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 20px;
        padding: 0 120px 20px;
        font-size: 28px;
        text-align: center;
    }

    .footer-policy {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
        gap: 10px;
        justify-content: space-around;
        text-align: center;
    }

    /* Footer End */






}


@media (min-width: 576px) and (max-width: 768px) {

    /* Nav Section */
    .nav-container,
    .nav-items {
        flex-direction: column;
        padding: 0;
    }

    .nav-logo {
        justify-content: center;
    }


    /* Banner Saction  */
    .banner-img {
        width: 600px;
        padding-left: 15px;
        padding-right: 15px;
        justify-content: center;
    }

    .banner-items {
        flex-direction: column-reverse;
        align-items: center;

    }

    .body-margin>nav {
        margin-bottom: 200px;
    }

    .bannner-play {
        margin-top: 100px;
    }

    /* Banner Gamer Start*/


    .banner-gamer {
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
    }

    .banner-gamer-image {
        margin-top: 50px;
        width: 600px;
    }

    .banner-gamer-description {
        text-align: center;
    }


    /* Online Game Start */

    .online-games {
        padding: 0 40px;
    }

    .funny-video-section {
        padding: 0 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-content: space-between;
    }

    /* Online Game End */



    /* Instant Play Start */
    .instant-play {
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }

    .instant {
        padding-left: 10px;
        padding-right: 10px;
    }

    .instant-play-text, .instant-play-text-2 {
        text-align: center;
    }

    .image-container-2, .image-container-2 {
        height: 50px;
        width: 30px;
    }

    .second-image-2, .second-image-1 {
        height: 30%;
        width: 30%;
        margin-top: -300px;
        margin-left: 400px;
    }

    .image-container-2, .image-container-1{
        display: none;
    }

    .instant-play-and-downloads {
        padding: 0 10px;
    }

    /* Instant Play End */



    /* Different Games Section Start*/

    .games-icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        padding: 80px 100px;
        gap: 10px;
    }

    .icon-and-name {
        gap: 10px;
        align-items: center;
    }

    .icon-and-name>img {
        width: 40px;
        height: 40px;
    }

    /* Different Games Section End*/


    /* Footer start */

    .footer-link-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 5px;
        padding: 0 50px 20px;
        text-align: center;
    }

    .footer-icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 20px;
        padding: 0 200px 20px;
        font-size: 35px;
        align-items: center;
        text-align: center;
    }

    .footer-policy {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 100px;
        gap: 10px;
        justify-content: space-around;
        text-align: center;
    }

    /* Footer End */

}